/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

input[type="text"], input[type="password"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid ;
  margin: 20px auto;
  transform: translateX(-50%) translateY(-50%);
}
input[type="submit"] {
  padding: 10px;
  color: #0E0E01;
  background: #45ECDD;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
}
video{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
z-index: -1;
}
